@import 'bootstrap-icons/font/bootstrap-icons.css';

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;

}

.container-xxl{
  max-width: 1800px;
}

.bi-bag-x {
    font-size: 1.5rem;
    color: white;
}

.numerito {
  font-size: 1.4rem;
}

.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
  }
  

  button:hover {

    text-decoration: underline;
  }
  
  button:active {
    outline: none;
  }
  

.logo-nav {
      width: 180px;
  }

.contenedor-principal {
  display: flex;
  justify-content: center;
}

.contenedor-secundario {
  position: relative;
  width: auto;
  display: flex;
 }

 .contenedor-secundario img {
  object-fit:cover;
  max-height: 100%;
  max-width: 100%;
 }



.contenedor-secundario-imgS {
  display: flex;
  flex-direction: column;
}

.contenedor-secundario-imgS img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.triplefoto {
  width: 100%;
}



.productos {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
  margin: 3rem 3rem 4rem;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.productos-card {
  width: auto;
  height: 85%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productos-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.productos-card:hover {
  transform: scale(1.1);
}

.card-body p {
  margin: 0.8rem 0;
}




  
.PromDiciembre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2b3035;
  color: white;
  font-size: 0.85rem;  
}  

.Items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-top: 3rem;
  padding-left: 30px;
  padding-right: 2rem;
}




.Producto-detalle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.Producto-detalle-img {
  width: 500px;
}

.Animacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item-count p {
  font-weight: bold;
  margin: 0;
}



.carrito-titulo h1{
  padding-top: 4.5rem;
  padding-bottom: 4rem;
}

.items-carrito-individual {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  max-width: 1080px;
  border: 1px solid #ddd; 
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.product-preciototal{
  width: 16.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.totalCarrito{
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.totalesDeCompra {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black
}

.totalesDeCompra p{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

}

.totalesDeCompra-IVA{
  display: flex;
  justify-content: space-between;
}

.totalesDeCompra-IVA p{
  text-align: center;
  font-size: 1.2rem;

  margin-top: 0.5rem;
}

.formulario-checkout{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 1rem;
}

.container-finalizarCompra{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario{
  width: 80%;
}

.QuienesSomos h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.QuienesSomos p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.carrito {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.carrito-titulo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carrito-checkout {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.items-carrito {
    width: 100%;
}

.items-carrito-titulos {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 ;
    border-bottom: 1px solid #ccc;
}

.items-carrito-individual {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #ccc;

}
.items-carrito-individual p {
  margin: 16px 0
}

.item-carrito-producto, .items-carrito-titulos-separacion {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap:2.6rem;
}

.item-carrito-producto h5, .items-carrito-titulos-separacion h5 {
    margin: 0;
}

.eliminar-item {  
    font-size: 5px;
    height: 1.3rem;
    width: 1.3rem;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.eliminar-item p {
  font-size: 10px;
  font-weight: bold ;
  margin-top: 1rem;
}

.carrito-card-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-modelo {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-precio {
  width: 16.5%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.product-cantidad {
  width: 16.5%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.boton-vaciar {
    padding: 2rem 0;
    text-align: center;
}

.ComprobanteCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.ComprobanteCompra span {
  font-weight:800;
}

.ComprobanteCompra h3{
  margin-top: 1rem;
}

@media (min-width: 300px) and (max-width: 720px) {
  .Items {
    flex-direction: column;
  }
}



@media (min-width: 300px) and (max-width: 980px) {
  .carrito-checkout {
    flex-direction: column;
  }
  .items-carrito {
    width: 100%;
  }
  .formulario-checkout {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1181px) {
  .productos {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1.5rem), 1fr)); 
    column-gap: 1.5rem;
    row-gap: 3rem; 
    margin: 2rem 1rem 3rem; 
  }

  .productos-card {
    height: auto;
  }
}

@media (max-width: 600px) {
  .productos {
    grid-template-columns: 1fr;
    column-gap: 1.5rem; 
    row-gap: 3rem; 
    margin: 2rem 1rem 3rem; 
  }

  .productos-card {
    height: auto; 
  }
}

@media (max-width: 720px) {
  .Items {
    gap: 1rem
  }
}

@media (min-width: 721px) and (max-width: 1080px) {
  .Items {
    gap:1rem;
    padding-left: 1rem;
    padding-top: 5rem;
    padding-right: 4rem;
  }

  .Producto-img {
    width: 500px;
  }

  .Producto-img img {
    width: 100%;
    object-fit: contain;
  }

  .Producto-detalle {
    width: 500px;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .carrito {
    max-width: 1600px;
  }

  .items-carrito-titulos-separacion{
    gap: 13vh;
  }
}